/* All styles for your Card Components live here */
.card-container {
  border-radius: 0.5rem;
  border: 1px #555 solid;
  margin-left: 4rem;
  }

  .card-container:hover {
    cursor: pointer;
  }
  
  .banner img {
    width: 100%;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }
  
  .card-content {
    padding: 0 1rem;
  }